header {
    margin-top: 4.875rem;

    & nav {

        & a {
            color: var(--color-brand);
            text-decoration: none;
            font-size: var(--fs-sm);
        }
    }
}

@media (width>=48em) {
    header {
        margin-top: 3.5rem;
    }
}